include MANIFEST.in
include BitVector.py
include setup.py
include Makefile
include BitVector-2.1.html
include TestBitVector/BitVector.py
include TestBitVector/BitVector.pyc
include TestBitVector/Test.py
include TestBitVector/TestBooleanLogic.py
include TestBitVector/TestBooleanLogic.pyc
include TestBitVector/TestComparisonOps.py
include TestBitVector/TestComparisonOps.pyc
include TestBitVector/TestConstructors.py
include TestBitVector/TestConstructors.pyc
include TestBitVector/TestCircularShifts.py
include TestBitVector/TestCircularShifts.pyc
include TestBitVector/TestPermutations.py
include TestBitVector/TestPermutations.pyc
include TestBitVector/testinput1.txt
include TestBitVector/testinput2.txt
include TestBitVector/testinput3.txt
include TestBitVector/testinput4.txt
include TestBitVector/testinput5.txt
include TestBitVector/testinput6.txt
include TestBitVector/testinput7.txt
include Examples/BitVector.py
include Examples/BitVectorDemo.py
include Examples/testinput1.txt
include Examples/testinput4.txt
include Examples/testinput5.txt
